<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SC Price</title>
    </head>
    <body>
        <h1>Coin price in BTC</h1>
        <h3>{{coin}}</h3>

        <h2>BTC price in USD</h2>
        <h3>{{btc}}</h3>

        <h2>USD/CNY echange rate</h2>
        <h4>{{usd}}</h4>

        <h2>Coin price in CNY</h2>
        <h3 style="color:red;">{{cny}}</h3>
    </body>
</html>