<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SC Price</title>
</head>

<body>

    {{> header}}
    <h2>Coin price in BTC</h2>
    <p>{{coin}}</p>

    <h2>BTC price in USD</h2>
    <p>{{btc}}</p>

    <h2>USD/CNY echange rate</h2>
    <h4>{{usd}}</h4>

    <h2>Coin price in CNY</h2>
    <p style="color:red;">{{cny}}</p>

    {{> footer}}
</body>

</html>